<header class="flex justify-between items-center mb-6">
  <h2 class="text-3xl font-semibold">Sistema de Monitoreo</h2>
  <div class="flex items-center space-x-6">
    <span>
    </span>
    <span class='text-red-500'>
      <% if @server && !@server.new_record? %>
      <i class="fa-solid fa-trash"></i>
        <%=
          link_to "Eliminar Servidor",
            server_path,
            data: {
              "turbo-confirm": "¿Estás seguro?",
              "turbo-method": :delete
            }
        %>
      <% end %>
    </span>
  </div>
</header>